//import google fonts
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;500;600;700&display=swap");

//creating global styles for personal website
//variables
$primary: #0d0d0d;
$secondary: rgb(244, 116, 188);
$tertiary-color: #ffffff;
$accent-color: #f2f2f2;
$primary-font-color: #f2f2f2;
$secondary-font-color: #0d0d0d;
$tertiary-font-color: #0d0d0d;
$accent-font-color: #0d0d0d;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$bg-color: #fff9e3;
$mira-lemon: #fcd85d;
$mira-red: #e6664f;
$mira-purp: #7850bb;
$mira-violet: #3b3372;
$mira-blue: #87ceeb;
$mira-lime: #90ee90;
$mira-peach: #ffa07a;
//fonts
$primary-font: 'Public Sans', sans-serif;
//font weights
$light: 300;
$regular: 500;
$medium: 600;
$bold: 700;