//creating global styles for personal website
//variables
$primary: #0d0d0d;
$secondary: rgb(244, 116, 188);
$tertiary-color: #ffffff;
$accent-color: #f2f2f2;
$primary-font-color: #f2f2f2;
$secondary-font-color: #0d0d0d;
$tertiary-font-color: #0d0d0d;
$accent-font-color: #0d0d0d;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto', sans-serif;
